<div class="about">
    <h4 class="motto">Personal opinions about history, news, computers and programming.</h4>
</div>
<div class="about-social">
    <div class="about-social">
        <a href="//oblio360.com">
            <i class="fa fa-home"></i>
        </a>
        <br>
        <a href="mailto:oblio@oblio360.com">
            <i class="fa fa-envelope-o"></i>
        </a>
        <br>
        <a href="https://facebook.com/oblio360">
            <i class="fa fa-facebook-official"></i>
        </a>
        <br>
        <a href="https://twitter.com/oblio360">
            <i class="fa fa-twitter"></i>
        </a>
    </div>
</div>