<div class="container sidebar">
    <div class="sliding-container">
        <div class="logo-container">
            <a href="//oblio360.com/">
                <img class="logo" src="https://oblio360.com/images/reference/oblio360_white_icon_400x200.png">
            </a>
        </div>

        <div class="menu-container">
            <a class="menu-entry" href="//hearthstone.oblio360.com">Hearthstone</a>
            <p class="menu-separator">&middot;</p>
            <a class="menu-entry" href="//Dota.oblio360.com">Dota</a>
            <p class="menu-separator">&middot;</p>
            <a class="menu-entry" href="https://forum.oblio360.com">Forum</a>
        </div>

        <div class="tag-box">
            <div class="tag-title">
                <a href="/archive"><b>Blog content</b></a>
            </div>
            <div class="tag-list">
                {% for data_tag in site.data.tags %}
                <div class="tag-element"><a href="/tag/{{ data_tag.slug }}">{{ data_tag.name }}</a></div>
                {% endfor %}
            </div>
        </div>

        <div class="archive-box">
            <div class="archive-title">
                <a class="archive-title" href="/archive"><b>Recent articles</b></a>
            </div>
            <div class="archive-list">
                {% for post in site.posts limit:5 %}
                <div class="archive-element"><a href="{{ post.url }}">{{ post.title }}</a></div>
                {% endfor %}
            </div>
        </div>

        {% include license.html %}
    </div>
</div>