<div class="container sidebar">
    <div class="logo-container">
        <a href="/">
            <img class="logo" src="https://oblio360.com/images/reference/oblio360_white_icon_400x200.png">
        </a>
    </div>

    <div class="menu-container">
        <a class="menu-entry" href="//hearthstone.oblio360.com">Hearthstone</a>
        <p class="menu-separator">&middot;</p>
        <a class="menu-entry" href="//Dota.oblio360.com">Dota</a>
        <p class="menu-separator">&middot;</p>
        <a href="/about" class="menu-entry {% if page.title == 'About' %}active{% endif %}">About</a>
    </div>

    <ul class="archive-box">
        <a href="/archive"><b>Recent articles</b></a>
        {% for post in site.posts limit:10 %}
        <li class="archive-list"><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    {% include ads.html %}

    {% include license.html %}
</div>
