---
layout: default
---

<div class="posts">
    <h1 class="page-title">{{ page.title }}</h1>

    {% if site.tags[page.tag] %}
        {% for post in site.tags[page.tag] %}
            <div class="post">
                {% include pin.html %}
                <h1 class="post-title">
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h1>

                <span class="post-date">{{ post.date | date_to_string }}</span>

                {{ post.content }}

                <a href="{{ post.url }}#comments">See comments</a>

                <hr>
            </div>
        {% endfor %}
    {% else %}
        <div class="page">
            <h1>No articles yet</h1>
            <p>
                There are no articles with this tag.
                <br>
                Instead, you can find articles about related topics over <a href="/">here</a>.
            </p>
        </div>
    {% endif %}

</div>
